/*
.darkmode ~ body {
  background :url(../asset/todd-trapani-hCdMjrL5C0Y-unsplash.jpg) center center/ cover fixed;
}
body.dark-mode {
  background-image: url('image2.png'); /
}

body.dark-mode button#darkmode {
  color: white; 
}
*/
body.dark-mode {
  background-image: url(../asset/zongnan-bao-fCNVHLyeMEs-unsplash.jpg); /* Change l'image de fond */
}