.darkmode {
  background-color: #121212;
  color: white;
}
.darkmode header {
  background-color: #1f1f1f;
}
.darkmode section {
  background-color: #333;
}
.darkmode .custom-icon {
  color: white;
}
body.dark-mode {
  background-image: url(../asset/zongnan-bao-fCNVHLyeMEs-unsplash.jpg); 
}
