#page_presentation{
  height: 92vh;
  margin-top: 20vh;
}
  
#Mon-bitmoji {
    margin-top: 4rem;
    height: 17rem;
    width: 17rem;
  }

#presentation {
  margin-top: 4rem;
  text-align: center;
  margin: auto;
  line-height: 1,6rem;
}

#page_presentation > #presentation > figcaption{
  background-color: #E2AE87;
  border-radius: 3rem;
  text-align: center;
  margin: auto 15rem  auto 15rem ;
  justify-content: flex-start;
  line-height: 1.6rem;
  padding: 1rem;
}

#page_presentation > #presentation > figcaption > #titre {
  font-family: "Bad Script", sans-serif;
  font-size: x-large;
  text-shadow: .5rem .5rem #999987;
}
#page_presentation > #presentation > h1{
  font-size: 250%;
  font-weight: 800;
  text-align: center;
 /* text-shadow: .5rem .5rem #E2AE87;*/
} 
