/* #side_projects{
    height: 92vh;
    flex-flow: row;
    padding: 2rem;
    margin: auto;
}
.projets_bas {
    width: calc(50% - 6rem);
    background-color: #E2AE87;
    margin-left: 5rem;
    margin-right: 1rem;
    border-radius: 1rem;
}
.projets_haut{
    float: right;
    width: calc(50% - 6rem);
    background-color: #999987 ;
    margin: auto 5rem auto 1rem;
    border-radius: 1rem;
}
#projets >  h1 {
    margin: 3rem auto 3rem auto;
    font-size: 200%;
    font-weight: 800;
    text-align: center;
    text-shadow: .5rem .5rem #E2AE87;
}
.projets_bas > h2 {
    border-style: double;
    border-width: .7rem;
    border-color: #999987;
    text-align: center;
    border-radius: 0.4rem;
}
.projets_haut > h2{
    border-width: .7rem;
    border-style: double;
    border-color: #E2AE87;
    text-align: center;
    border-radius: 0.4rem;
}

#img_t > img{
    width: auto;
    height: 18rem;
}
#img_e > img{
    width: auto;
    height: 18rem;
}
#projets > div > figure > figcaption {
    font-size: large;
    max-width: fit-content;
    text-align: center;
    margin: auto;
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 1rem auto 1rem auto;
    text-decoration: underline;
} */
.projets_haut,
.projects_bas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 60%;
  border-radius: 0.7rem;
  padding: 1rem;
  margin: 2rem auto 2rem auto;
}

.projets_haut figure:nth-child(2),
.projects_bas figure:nth-child(1) {
  width: calc(33.33% - 1rem); 
}
.projets_haut {
    background-color: #999987;
}
.projects_bas {
    background-color: #E2AE87 ;
}

