
#side_projects {
    max-width: 75%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#side_projects h1 {
    margin-bottom: 2rem;
    font-size: 2em;
}

.projets_haut, .projects_bas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    border-radius: 0.4rem;
    margin: 1rem;
}

.projets_haut {
    background-color: #999987; /* Gris sage */
}

.projects_bas {
    background-color: #E2AE87; /* Saumon foncé */
}